extends layout

block content

  div#about
    
    h1 Welcome to #{title}

    p We, Ajanta Export Industries are a reliable manufacturer, supplier, trader, distributor and exporter of a commendable array of Scientific Laboratory Equipment. Our offered range includes Soil Equipment, Microscopes, Survey Equipment, Biological Models, Surgical Microscope, Slit Lamp, Laboratory Glassware and many more. The entire offered range is developed using high-grade components and employing prevailing technologies. The products we offer are extensively used in Physics, Chemistry and Biology Labs all over the globe. Our products are widely applauded by the associated for their reliability, low maintenance cost, optimum performance and energy efficiency. Clients can avail our offered range at most competitive prices in the entire niche. 

    tbody
    tr
      td
        p
          strong Business Type
      td
        p Manufacturer, Exporter, Trader, Distributor and Supplier
    tr
      td
        p
          strong Business Type
      td
        p Manufacturer, Exporter, Trader, Distributor and Supplier
    tr
      td
        p
          strong Business Type
      td
        p Manufacturer, Exporter, Trader, Distributor and Supplier
    tr
      td
        p
          strong Business Type
      td
        p Manufacturer, Exporter, Trader, Distributor and Supplier
    tr
      td
        p
          strong Business Type
      td
        p Manufacturer, Exporter, Trader, Distributor and Supplier
    tr
      td
        p
          strong Business Type
      td
        p Manufacturer, Exporter, Trader, Distributor and Supplier
    tr
      td
        p
          strong Business Type
      td
        p Manufacturer, Exporter, Trader, Distributor and Supplier
    tr
      td
        p
          strong Business Type
      td
        p Manufacturer, Exporter, Trader, Distributor and Supplier

  #certs 
    img.cert(src="/images/cert1.png")
    img.cert(src="/images/cert1.png")
    img.cert(src="/images/cert1.png")
    img.cert(src="/images/cert1.png")
    img.cert(src="/images/cert1.png")