extends admin-layout

block content
  div#admin-page-1.pad2
    h1= title

    h2 The inventory has the following record counts ...

    if error
      p Error getting dynamic content.
    else

      ul#count
        li.count
          i.fa.fa-angle-right
          span Categories : !{data.cat_count}
        li.count
          i.fa.fa-angle-right  
          span Sub-Categories : !{data.subcat_count}
        li.count
          i.fa.fa-angle-right 
          span Products : !{data.prod_count}

      div#admin-nav
        
          a.btn(href="/admin/category") Enter a new category

          a.btn(href="/admin/sub-category") Enter a new sub-category

          a.btn(href="/admin/product") Enter a new product