extends layout

block content
  #catalogue-image 
    img(src="/images/catalouge.jpg")

  div#our-products.pad2
    h1 Product Categories

    ul#cat-list
      each category in categories
        li.list-items
          i.fa.fa-angle-right

          span.cat-name #{category.name}

          ul.subcat-list
              each subCategory in subCategories
                  if subCategory.category.name === category.name
                      li.sublist-items
                        i.fa.fa-angle-right
                        a(href=subCategory.url) #{subCategory.name}

      else
        span There are no Categories.