extends admin-layout

block content

  div#admin-sub-category-form.pad2

    h1 #{title}

    #form.d-flex
      form(method='POST' action='')
        div.form-group1
          label(for='name') Name:
          input#name.form-control(type='text', placeholder='e.g. Heat Transfer Lab' name='name' value=(undefined===Category ? '' : Category.name))

        div.form-group1
          label(for='description') Description:
          textarea#description.form-control(type='textarea', placeholder='Description ...' name='description' rows="20" cols="50") #{undefined===Category ? '' : Category.description}

        div.form-group1
          label(for='password') Password:
          input#password.form-control(type='password' name='password' placeholder="Enter Password")
        
        button#submit-button.btn.btn-primary(type='submit') Submit

    if errors
      ul.error
        for error in errors
          li!= error.msg