extends layout

block content
  #catalogue-image 
    img(src="/images/catalouge.jpg")

  div#our-products.pad2
    h1 Product Categories

    ul.subcat-list
        each Category in categories
            li.sublist-items
                i.fa.fa-angle-right
                a(href=Category.url) #{Category.name}

        else
          span There are no Categories.