extends layout


block content
 section.contact
  .content
    h2 Contact Us
    p
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos hic eos qui illum ad repellendus
  .contact-container
    .contact-info
      .box
        .icon
          i.fa.fa-map-marker
        .text
          h3 Address
          p Ekta Vihar
      .box
        .icon
          i.fa.fa-phone
        .text
          h3 Phone
          p +91 1234567890
      .box
        .icon
          i.fa.fa-envelope-o
        .text
          h3 Email
          p ex@gmail.com
    .contact-form
      form(action='' method="POST" name='myForm')
        h3 Send Message
        .input-box
          input(type='text' name='name' required='true' id='contact-name' placeholder='' aria-label='Full Name' autocomplete='name' maxlength='30')
          span Full Name
        .input-box
          input(type='tel' name='fphone' required='true' class="number" id='contact-phone' placeholder='' aria-label='Phone Number' autocomplete='tel')
          span Phone Number
          small#error

        .input-box
          input(type='email' name='email' required='true' id='contact-email' placeholder='' aria-label='Email' autocomplete='email')
          span Email
        .input-box
          textarea(name='description' id='' required='true' aria-label='Message')
          span Type Your Message
        .input-box.d-flex
          input(type='submit' name='' value='Send' class="check")

        if error 
          div#alert
            p #{error}

  script.
    $('form').on('submit', (e) => {
      // e.preventDefault();

      const name = $('#contact-name').val().trim();
      const email = $('#from-email').val().trim();
      const subject = $('#subject').val().trim();
      const text = $('#text').val().trim();

      const data = {
        name,
        email,
        subject,
        text
      };

      $.post('/email', data, function() {
        console.log('Server recieved our data');
      });
    });
    // document.getElementById('#form-data').reset();
