extends layout

block content
  h1 Welcome to #{title}

  p Established in the year 1957 at Ambala, Haryana, India. We, Ajanta Export Industries, are one of the leading manufacturers, exporters and wholesalers of equipment and instruments used in physics, biology and chemistry labs. Besides, we are also meeting the demands of quality laboratory glassware.

  p The complete product range offered by us include biological models, biological charts, dental/ENT equipments, laboratory glassware, laboratory plasticwares, scientific microscopes, physics equipments, physics apparatus, pharmacy instruments, surgical equipments, hospital furnitures, mechanics equipment, soil testing and survey items, generator equipments, muffle furnaces and many more.

  p A Proprietorship Firm, our business operations are led by Mr. Vinay Trehan. His experienced handling of the involved business operations, well developed production setup as well as services of experienced industry professionals assist us in meeting the prevailing as well as emerging equipment and instrument needs of the scientific community.

  p Today, our consistent business approach has helped us to emerge as a leading company in our industry sector. Further, the competitive pricing and customer centric business policies followed at our end has also helped us to gain large client following in the national and international regions. Presently, we are having a production capacity of over 1 million pieces per year that can further be expanded according to the specific order requirements coming from clients end. We also would like to assure our clients that no child labour is employed by us in any form, for production of our products.

  #tagline 
    p INSERT MOTTO, AIM, TAGLINE ETC HERE

  #products 
    p INSERT PRODUCT GRID HERE 

  #certs 
    img.cert(src="/images/cert1.png")
    img.cert(src="/images/cert1.png")
    img.cert(src="/images/cert1.png")
    img.cert(src="/images/cert1.png")
    img.cert(src="/images/cert1.png")

  #contact 
    p Tell us what you think about our products and services. We would love to hear from you. If you have any questions about placing orders or any other stuff, please feel free to contact us. We will be happy to answer your questions.

    button(type='button' disabled=true)
      a(href="/contact") Contact Us 

  #map 
    p INSERT MAP HERE 

  
