extends layout

block content

  div#slider
    .row.large
      .imagegroup
        img(src='/images/slider-01.jpg' alt='')
        img(src='/images/slider-02.jpg' alt='')
        img(src='/images/slider-03.jpg' alt='')
        img(src='/images/slider-04.jpg' alt='')
        img(src='/images/slider-05.jpg' alt='')


  div#about.pad2
    h1 Welcome to 
      span Digital Catalogue

    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

    p The complete product range offered by us include biological models, biological charts, dental/ENT equipments, laboratory glassware, laboratory plasticwares, scientific microscopes, physics equipments, physics apparatus, pharmacy instruments, surgical equipments, hospital furnitures, mechanics equipment, soil testing and survey items, generator equipments, muffle furnaces and many more.

    p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

    p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.

  #client.d-flex
    #client-counter.d-flex
      div.tag-items 
        h2 1000+ 
          span Product
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ut dignissimos vitae tempora molestias repellendus, rem minima porro impedit facere reiciendis magni voluptatem voluptas deleniti laudantium officiis repudiandae velit quam.


      div.tag-items 
        h2 100+ 
          span Clients
        p Lorem ipsum dolor  amet consectetur adipisicing elit. Consequuntur incidunt aut nostrum corrupti temporibus, est vero aliquid minus tenetur perferendis eum. Cum recusandae optio nam sapiente reiciendis dignissimos enim eum?

      div.tag-items 
        h2 100+ 
          span Countries
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, pariatur. Aspernatur non aut magni ducimus, incidunt fugit dolores tempora optio aliquam sint molestiae, eius, nam eos totam praesentium dolor nobis!


      div.tag-items 
        h2 100+ 
          span Countries
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ex odio nihil aliquam quo numquam reprehenderit, illum sit magnam dolorum quisquam pariatur, sint repellendus impedit nemo molestiae deleniti autem maiores?

  #products.pad2
    h3 Products
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, repellendus!
    div#product-container.d-flex
      each product in products
        div.product(onclick='location.href=' + "'" + product.url + "'") 
          .product-image(onclick='location.href=' + "'" + product.url + "'") 
            img(src=product.image)

          div.product-name
           h3
             a(href=product.url) #{product.name}


      else
        p This category has no products

  #contact.pad2.d-flex
    #contact-des
      p Tell us what you think about our products and services. We would love to hear from you. If you have any questions about placing orders or any other stuff, please feel free to contact us. We will be happy to answer your questions.

    #contact-btn.d-flex
      button#contact-button(type='button' disabled=true)
        a(href="/contact") Contact Us 

  #map 
    iframe(width="100%" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=Eiffel%Tower&key=AIzaSyDrdKmxFhDEz-z1jmdbOJy6v2RPW9sTNOk")