doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="https://kit.fontawesome.com/2886b68951.js" crossorigin="anonymous")
    script(src="/script.js")

  body
    header
      #company
        img#logo(src="/images/logo.png")
        p#compName 
          a(href="/") Vishal Traders

     
      form#search(method='POST' action='/search')
        div.form-group
          input#searchInput.form-control(type='text' name='searchInput' placeholder='Enter search term')
          button.btn.btn-primary(type='submit') Search

    nav 
      ul#navList
        li
          a.navlink(href='/') Home
        li
          a.navlink(href='/about') Company Profile
        li
          a.navlink(href='/categories') Our Products
        li
          a.navlink(href='/contact') Contact Us
      

  

    block content

    footer.pad2.d-flex
      .col.address
        h4 Contact US
        p
          strong
          i.fa.fa-map-marker
          | Ekta Vihar
        p
          strong
          i.fa.fa-phone
          | +91 1234567890
        p
          strong 
          i.fa.fa-clock-o 
          | 10:00 A.M. - 4:00 P.M., Mon - Sat
      
      .col
        .first
          h4 Follow us
          .icons
            a(href="#")
              i.fab.fa-facebook-f
            a(href="#")
              i.fab.fa-linkedin
            a(href="#")
              i.fab.fa-instagram
        
      .col
        .second 
          h4 About
          a(href='/about') About Us

          a(href='/contact') Contact Us
      .copyright
        p &copy; 2022, Vishal Traders. All rights reserved.
        p Developed by  
          a(href="https://www.linkedin.com/in/shivanshshekhar11/") dev-01 
          | and 
          a(href="https://www.linkedin.com/in/aditya-passi-552649192/")  dev-02