doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="https://kit.fontawesome.com/2886b68951.js" crossorigin="anonymous")
  body
    header
      #company
        img#logo(src="/images/logo.png")
        p#compName Asha Scientific Works 

      form#search(method='POST' action='/search')

        div.form-group
          input#searchInput.form-control(type='text' name='searchInput' placeholder='Enter search term')
    
        button.btn.btn-primary(type='submit') Search

    nav 
      ul#navList
        li
          a.navlink(href='/') Home
        li
          a.navlink(href='/about') Company Profile
        li
          a.navlink(href='/categories') Our Products
        li
          a.navlink(href='/contact') Contact Us

    block content

    footer
      #addr
        a(href='#')
          img.icon(src="/images/add.png")
        p#addrText Address

      #phone 
        a(href='#')
          img.icon(src="/images/phn.png")
        p#phoneText 041170

      #owner 
        a(href='#')
          img.icon(src="/images/own.png")
        p#ownerText Mr. John Doe
        p#ownerphone 0242319

      img#stamp(src="/images/stamp.png")
