doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      #company
        img#logo(src="/images/logo.png")
        p#compName Asha Scientific Works 

      form#search(method='POST' action='/search')

        div.form-group
          input#searchInput.form-control(type='text' name='searchInput' placeholder='Enter search term')
    
        button.btn.btn-primary(type='submit') Search

    nav 
      ul#navList
        li
          a.navlink(href='/') Home
        li
          a.navlink(href='/about') Company Profile
        li
          a.navlink(href='/categories') Our Products
        li
          a.navlink(href='/contact') Contact Us

    block content

    footer
      #addr 
        a(href='#')
          i.fa.fa-arrow-up(aria-hidden='true')
        p#addrText Address

      #phone 
        a(href='#')
          i.fa.fa-arrow-up(aria-hidden='true')
        p#phoneText 041170

      #owner 
        a(href='#')
          i.fa.fa-arrow-up(aria-hidden='true')
        p#ownerText Mr. John Doe
        p#ownerphone 0242319

      img#stamp(src="/images/stamp.png")
