doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="https://kit.fontawesome.com/2886b68951.js" crossorigin="anonymous")
    script(src="https://cdn.tiny.cloud/1/qmkrsgqmcjy04hcmad5dlmlk9vh5t4owh3lwexadjm2jfh2f/tinymce/5/tinymce.min.js" referrerpolicy="origin")
    script.
      tinymce.init({
        selector: '#description',
        plugins: 'lists table autocorrect',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | spellcheckdialog a11ycheck | align lineheight | numlist bullist indent outdent | removeformat',
      });

  body
    header
      #company
        img#logo(src="/images/logo.png")
        p#compName Asha Scientific Works 

      form#search(method='POST' action='/search')

        div.form-group
          input#searchInput.form-control(type='text' name='searchInput' placeholder='Search for a product ...')
    
        button.btn.btn-primary(type='submit') Search

    nav 
      ul#navList
        li
          a.navlink(href='/') Home
        li
          a.navlink(href='/about') Company Profile
        li
          a.navlink(href='/categories') Our Products
        li
          a.navlink(href='/contact') Contact Us

    block content

    footer
      #addr
        a(href='#')
          img.icon(src="/images/add.png")
        p#addrText Address

      #phone 
        a(href='#')
          img.icon(src="/images/phn.png")
        p#phoneText 041170

      #owner 
        a(href='#')
          img.icon(src="/images/own.png")
        p#ownerText Mr. John Doe
        p#ownerphone 0242319

      img#stamp(src="/images/stamp.png")
